body {
    font-family: 'Roboto', sans-serif;
}

#offCanvas, #offCanvasRight {
    background-color: #fff;
    z-index: 1080;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
@media (max-width: 575px) { 

}
@media (max-width: 767px) { 

}

/* other css */
