/* fonts */
@font-face {
    font-family: 'Burbank Big Cd Bk';
    src: url('../fonts/BurbankBigCondensed-Black.woff2') format('woff2'),
        url('../fonts/BurbankBigCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank Big Rg Bk';
    src: url('../fonts/BurbankBigRegular-Black.woff2') format('woff2'),
        url('../fonts/BurbankBigRegular-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank Big Rg Bd';
    src: url('../fonts/BurbankBigRegular-Bold.woff2') format('woff2'),
        url('../fonts/BurbankBigRegular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Bold.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Medium.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Black.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Burbank Small', Arial;
    font-size: 1rem;
    color: #2a2a2a;
}
a {
    color: #828282;
    text-decoration: underline;    
}
a:hover {
    color: #828282;
    text-decoration: none;
}
h2 {
    font-family: 'Burbank Big Cd Bk', Arial;
    font-size: 4.5rem;
    line-height: 1;
    text-transform: uppercase;
}
.top-line {
    background-color: #2a2a2a;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    margin-right: 2rem;;
}
.navbar-nav .nav-item {
    margin: 0 1rem;
}
.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: #b6b6b6;
    text-decoration: none;
    padding: 1rem 0;
    border-bottom: 4px solid transparent;    
}
.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 4px solid #feff00;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.main-slider-wrapper {
    position: relative;
}
.main-banners {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.more {
    position: absolute;
    bottom: -40px;
    right: 40px;
    display: flex;
    align-items: center;
    width: 180px;
    height: 57px;
    background: url(../img/down-arrow.png) right center no-repeat;
    font-family: 'Burbank Big Cd Bk', Arial;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 15px;
}
.more:hover {
    color: #000;    
}

#novelty h2 {
    color: #c128e2;
    text-align: center;
}

.card-product {
    font-family: 'Burbank Big Cd Bk', Arial;    
    border: none;
    height: 100%;
}
.card-product .card-body {
    padding: 0;
}
.card-product .card-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #010101;
    margin: .75rem 0;
}
.card-product .card-price {
    margin-bottom: .75rem;
}
.card-product .card-price .price {
    font-size: 1.125rem;
    color: #c228e2;
}
.card-product .card-price .discount {
    font-size: 1rem;
    color: #a0a0a0;
    text-decoration: line-through;
}
.card-product .card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0;
}
.card-product .btn-buy {
    width: 100%;
    background-color: #00a8ff;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 0;
    text-decoration: none;
    padding: .3rem 0 .2rem 0;   
}
.card-product .btn-buy:hover {
    background-color: #c228e2;
}
.link-view-all {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
}


#winners,
#contest {
    background: linear-gradient(to bottom, #fc404f, #fec41b);
}
#winners h2 {
    color: #fff;
}
#winners ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#winners ul li {
    font-family: 'Burbank Big Cd Bk', Arial;
    color: #000;
    font-size: 3rem;
    line-height: 1.1;
}
#characters {
    background: url(../img/blue-bg.jpg) center no-repeat;
}
#characters h2 {
    color: #fff;
    text-align: center;
}
#characters .character-wrapper {
    background-color: #19c2fd;
}
#characters .character-nav .title {
    background: url(../img/title.png) no-repeat;
    background-size: contain;
    font-family: 'Burbank Big Cd Bk', Arial;
    font-size: 3rem;
    text-transform: uppercase;
    color: #018ec4;
    text-align: center;
}
#characters .character-wrapper .info {
    background-color: #00316c;
}
#characters .character-wrapper .info h3 {
    font-family: 'Burbank Big Cd Bk', Arial;    
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
}
#characters .character-wrapper .info p { 
    font-size: 1rem;
    color: #fff;
}
.btn-yellow-buy {
    font-family: 'Burbank Big Cd Bk', Arial;        
    background-color: #fdfc01;
    color: #000;
    font-size: 2rem;
    line-height: 1.1;
    text-transform: uppercase;
    border-radius: 0;
    text-decoration: none;
    padding: .5rem 3rem;
}
.btn-yellow-buy:hover {
    background-color: #fc404e;
}

#toys h2 {
    color: #c128e2;
    text-align: center;    
}
#buy h2 {
    color: #c128e2;
    text-align: center;    
}
#contest h2 {
    color: #fff;
    text-align: center;        
}
.action-info {
    font-family: 'Burbank Big Cd Bk', Arial;   
    font-size: 1.875rem;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
}
.action-info span {
    color: #fbfd02;
}
#footer {
    background-color: #2a2a2a;
}
#footer .nav a {
    color: #afafaf;
    font-size: 1.125rem;
    line-height: 2;
    text-decoration: none;
}
#footer .nav a:hover {
    text-decoration: underline;
}
#back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 57px;
    height: 57px;
    background: url(../img/up-arrow.png) no-repeat;
    opacity: .5;
}
#back-to-top:hover {
    cursor: pointer;
}

/*main slider*/
.main-slider .slick-prev,
.main-slider .slick-next {
    width: 43px;
    height: 81px;
    z-index: 9;
}
.slick-prev:before,
.slick-next:before {
    content: '';
}
.main-slider .slick-prev {
    background: url(../img/white-left.png) no-repeat;
    left: 30px;
}
.main-slider .slick-next {
    background: url(../img/white-right.png) no-repeat;
    right: 30px;
}
/*toys slider*/
.toys-slider .slick-prev,
.toys-slider .slick-next {
    width: 43px;
    height: 81px;
    z-index: 9;
}
.toys-slider .slick-prev {
    background: url(../img/blue-left.png) no-repeat;
    left: -60px;
}
.toys-slider .slick-next {
    background: url(../img/blue-right.png) no-repeat;
    right: -60px;
}
.toys-slider .slick-dots {
    bottom: -60px;
}
.toys-slider .slick-dots li button {
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: #bbe4fa;
    border-radius: 50%;
}
.toys-slider .slick-dots li.slick-active button {
    background-color: #006aa8;
}
.toys-slider .slick-dots li button:before {
    content: '';
}
/*partners slider*/
.partners-slider .slick-prev,
.partners-slider .slick-next {
    width: 43px;
    height: 81px;
    z-index: 9;
}
.partners-slider .slick-prev {
    background: url(../img/grey-left.png) no-repeat;
    left: -60px;
}
.partners-slider .slick-next {
    background: url(../img/grey-right.png) no-repeat;
    right: -60px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
@media (max-width: 575px) {
    .slick-prev,
    .slick-next {
        display: none!important;
    }
    #winners ul li {
        font-size: 2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    #characters .character-nav .title {
        background-image: none;
        background-color: #fbfd02;
        margin: 0 1rem;
    }
}
@media (max-width: 1024px) {
    .navbar-nav .nav-item .nav-link {
        text-align: center;
    }
    .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 4px solid transparent;
    }
}

/* other css */
.my-6 {
    margin-top: 5rem !important;    
    margin-bottom: 5rem !important;    
}
.py-6 {
    padding-top: 5rem !important;    
    padding-bottom: 5rem !important;    
}
